soap_server/src/main/resources/META-INF/JavaBeansHandbookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://maribo.by/web_service/JavaBeansHandbookService"
                  targetNamespace="http://maribo.by/web_service/JavaBeansHandbookService">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified"
                   elementFormDefault="qualified"
                   targetNamespace="http://maribo.by/web_service/entity">
            <xs:complexType name="method" mixed="true">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="necessity" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entity" mixed="true">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified"
                   xmlns="http://www.w3.org/2001/XMLSchema"
                   xmlns:ns2="http://maribo.by/web_service/entity"
                   targetNamespace="http://maribo.by/web_service/JavaBeansHandbookService">
            <xs:import namespace="http://maribo.by/web_service/entity"/>
            <xs:element name="modifyMethod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="method" nillable="true" type="ns2:method"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyMethodResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyEntity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element type="ns2:Entity" name="entity" nillable="true"/>
                        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyEntityResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMethods">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMethodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ns2:method"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEntities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEntitiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ns2:Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMethod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="method" nillable="true" type="ns2:method"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMethodResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEntityResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEntity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entity" nillable="true" type="ns2:Entity"/>
                        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMethod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="method" nillable="true" type="ns2:method"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMethodResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entity" nillable="true" type="ns2:Entity"/>
                        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntityResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addEntityRequest">
        <wsdl:part name="parameters" element="tns:addEntity"/>
    </wsdl:message>
    <wsdl:message name="deleteEntityRequest">
        <wsdl:part name="parameters" element="tns:deleteEntity"/>
    </wsdl:message>
    <wsdl:message name="modifyEntityRequest">
        <wsdl:part name="parameters" element="tns:modifyEntity"/>
    </wsdl:message>
    <wsdl:message name="modifyMethodRequest">
        <wsdl:part name="parameters" element="tns:modifyMethod"/>
    </wsdl:message>
    <wsdl:message name="getAllMethodsRequest">
        <wsdl:part name="parameters" element="tns:getAllMethods"/>
    </wsdl:message>
    <wsdl:message name="getAllMethodsResponse">
        <wsdl:part name="parameters" element="tns:getAllMethodsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEntitiesRequest">
        <wsdl:part name="parameters" element="tns:getAllEntities"/>
    </wsdl:message>
    <wsdl:message name="getAllEntitiesResponse">
        <wsdl:part name="parameters" element="tns:getAllEntitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteMethodRequest">
        <wsdl:part name="parameters" element="tns:deleteMethod"/>
    </wsdl:message>
    <wsdl:message name="addMethodRequest">
        <wsdl:part name="parameters" element="tns:addMethod"/>
    </wsdl:message>

    <wsdl:message name="deleteMethodResponse">
        <wsdl:part name="parameters" element="tns:deleteMethodResponse"/>
    </wsdl:message>
    <wsdl:message name="addMethodResponse">
        <wsdl:part name="parameters" element="tns:addMethodResponse"/>
    </wsdl:message>
    <wsdl:message name="addEntityResponse">
        <wsdl:part name="parameters" element="tns:addEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteEntityResponse">
        <wsdl:part name="parameters" element="tns:deleteEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyEntityResponse">
        <wsdl:part name="parameters" element="tns:modifyEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyMethodResponse">
        <wsdl:part name="parameters" element="tns:modifyMethodResponse"/>
    </wsdl:message>
    <wsdl:portType name="JavaBeansHandbookServicePortType">
        <wsdl:operation name="addEntity">
            <wsdl:input message="tns:addEntityRequest" name="addEntityRequest"/>
            <wsdl:output message="tns:addEntityResponse" name="addEntityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEntity">
            <wsdl:input message="tns:deleteEntityRequest" name="deleteEntityRequest"/>
            <wsdl:output message="tns:deleteEntityResponse" name="deleteEntityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="modifyEntity">
            <wsdl:input message="tns:modifyEntityRequest" name="modifyEntityRequest"/>
            <wsdl:output message="tns:modifyEntityResponse" name="modifyEntityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="modifyMethod">
            <wsdl:input message="tns:modifyMethodRequest" name="modifyMethodRequest"/>
            <wsdl:output message="tns:modifyMethodResponse" name="modifyEntityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllMethods">
            <wsdl:input message="tns:getAllMethodsRequest" name="getAllMethodsRequest"/>
            <wsdl:output message="tns:getAllMethodsResponse" name="getAllMethodsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEntities">
            <wsdl:input message="tns:getAllEntitiesRequest" name="getAllEntitiesRequest"/>
            <wsdl:output message="tns:getAllEntitiesResponse" name="getAllEntitiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMethod">
            <wsdl:input message="tns:deleteMethodRequest" name="deleteMethodRequest"/>
            <wsdl:output message="tns:deleteMethodResponse" name="deleteMethodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMethod">
            <wsdl:input message="tns:addMethodRequest" name="addMethodRequest"/>
            <wsdl:output message="tns:addMethodResponse" name="addMethodResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
            name="JavaBeansHandbookServiceBinding"
            type="tns:JavaBeansHandbookServicePortType">
        <soap:binding
                transport="http://schemas.xmlsoap.org/soap/http"
                style="document"/>
        <wsdl:operation name="addEntity">
            <soap:operation soapAction="urn:addEntity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteEntity">
            <soap:operation soapAction="urn:deleteEntity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="modifyEntity">
            <soap:operation soapAction="urn:modifyEntity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="modifyMethod">
            <soap:operation soapAction="urn:modifyMethod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllMethods">
            <soap:operation soapAction="urn:getAllMethods" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEntities">
            <soap:operation soapAction="urn:getAllEntities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMethod">
            <soap:operation soapAction="urn:deleteMethod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addMethod">
            <soap:operation soapAction="urn:addMethod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JavaBeansHandbookService">
        <wsdl:port name="JavaBeansHandbookService"
                   binding="tns:JavaBeansHandbookServiceBinding">
            <soap:address location="http://localhost:8080/axis2/services/JavaBeansHandbookService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
