soap_server/src/main/resources/IBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://entity.web_service.maribo.by/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.web_service.maribo.by/xsd">
            <xs:complexType name="Entity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://entity.web_service.maribo.by/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service">
            <xs:import namespace="http://entity.web_service.maribo.by/xsd"/>
            <xs:element name="modify">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="modifyRequest">
        <wsdl:part name="parameters" element="ns:modify"/>
    </wsdl:message>
    <wsdl:portType name="IBookServicePortType">
        <wsdl:operation name="modify">
            <wsdl:input message="ns:modifyRequest" wsaw:Action="urn:modify"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IBookServiceSoap11Binding" type="ns:IBookServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modify">
            <soap:operation soapAction="urn:modify" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IBookServiceSoap12Binding" type="ns:IBookServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modify">
            <soap12:operation soapAction="urn:modify" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IBookServiceHttpBinding" type="ns:IBookServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="modify">
            <http:operation location="modify"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IBookService">
        <wsdl:port name="IBookServiceHttpSoap11Endpoint" binding="ns:IBookServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/IBookService"/>
        </wsdl:port>
        <wsdl:port name="IBookServiceHttpSoap12Endpoint" binding="ns:IBookServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/IBookService"/>
        </wsdl:port>
        <wsdl:port name="IBookServiceHttpEndpoint" binding="ns:IBookServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/IBookService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
